{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="associations">
    <table class="sylius-order-content-table table table-striped table-bordered">
        <thead>
        <tr>
            <th style="width: 40px"></th>
            <th class="picture"></th>
            <th class="info">{{ 'sylius.order_item.product'|trans }}</th>
            <th class="type">Association Type</th>
        </tr>
        </thead>
        <tbody id="sylius-assortment-product-associations">
        {% for association in product.associations %}
            {% set associatedProduct = association.associatedObject %}
            <tr class="sylius-assortment-product-associations-item">
                <td style="vertical-align: middle">
                    <a href="#" class="btn btn-default" data-collection-button="delete" data-collection="sylius-assortment-product-associations" data-collection-item="item">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
                <td class="picture text-center">
                    <a href="{{ path('sylius_backend_product_show', {'id': associatedProduct.id}) }}" title="View {{ associatedProduct.name|escape('html_attr') }} details.">
                        <img src="{{ associatedProduct.image ? associatedProduct.image.path|imagine_filter('sylius_small') : 'http://placehold.it/90x60' }}" alt="" class="imgmedia-object"/>
                    </a>
                </td>
                <td class="info">
                    <a href="{{ path('sylius_backend_product_show', {'id': associatedProduct.id}) }}">
                        <h4>{{ associatedProduct.name }}</h4>
                    </a>
                    {{ form_widget(form.associations[loop.index0].associatedObject) }}
                </td>
                <td>
                    <span>{{ form_widget(form.associations[loop.index0].type) }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_widget(form.newProductAssociation, {'attr': {'class': 'select2'}}) }}
</div>